
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<table class="table table-hover" border="1">
<tr>
<th>vin</th>
<th>employeeid</th>
<th>maintenanceid</th>
</tr>
<% table_info.performs.vin.forEach(function(val,i) { %>
<tr>
<td><%= table_info['performs'].vin[i] %></td>
<td><%= table_info['performs'].employeeid[i] %></td>
<td><%= table_info['performs'].maintenanceid[i] %></td>
</tr>
<% }) %>
</table>
